<%= form_for(@invoice) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>
      <ul>
      <% @invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field"><%= f.label :contract_id %><%= f.collection_select :contract_id, @contracts, :id, :id %></div>
  <div class="field"><%= f.label :invoice_date %><%= f.date_field :invoice_date %></div>
  <div class="field"><%= f.label :invoice_number %><%= f.text_field :invoice_number %></div>
  <div class="field"><%= f.label :comments %><%= f.text_area :comments %></div>
  <div class="actions"><%= f.submit %></div>
  <hr>
  <h2>INVOICE LINES</h2>
  <div id="lines">
      <%= f.fields_for :lines, :html => { :class => 'form-horizontal' } do |line| %>
        <%= render 'line_fields', f: line %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'Add line', f, :lines %>
      </div>
    </div>
  
<% end %>