<div id="content">
  <%= link_to 'Add Invoice', new_invoice_path, class: "button" %>
  <h1>MANAGE INVOICE</h1>
  <hr class="push_both" />
  <%= search_form_for @q do |f| %>
    <%= f.label :contract_id_eq, "Contract ID"%><%= f.search_field :contract_id_eq %>
    <%= f.label :invoice_number_cont, "Invoice No"%><%= f.search_field :invoice_number_cont %>
    <%= f.submit "Search" %>
  <% end %>
  <table>
    <thead>
      <tr>
        <th class="col-md-1"><%= sort_link @q, :contract_id, "Contract ID" %></th>
        <th class="col-md-1"><%= sort_link @q, :invoice_number, "Date" %></th>
        <th class="col-md-1"><%= sort_link @q, :invoice_date, "Reading" %></th>
        <th class="col-md-1">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @invoices.each do |invoice| %>
        <tr>
          <td class="col-md-1"><%= invoice.contract_id %></td>
          <td class="col-md-2"><%= invoice.invoice_number %></td>
          <td class="col-md-2"><%= invoice.invoice_date %></td>
          <td class="col-md-1"><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>