<div id="content">
  <%= link_to 'Add Contract', new_contract_path, class: "button" %>
  <h1>MANAGE CONTRACTS</h1>
  <hr class="push_both" />
  <%= search_form_for @q do |f| %>
    <%= f.label :id_eq, "ID"%><%= f.search_field :id_eq %>
    <%= f.label :asset_id_eq, "Asset"%><%= f.search_field :asset_id_eq %>
    <%= f.submit "Search" %>
  <% end %>
  <table>
    <thead>
      <tr>
        <th class="col-md-1"><%= sort_link @q, :id, "ID", default_order: :desc %></th>
        <td class="col-md-1"><%= sort_link @q, :asset_id, "Asset" %></td>
        <td class="col-md-2"><%= sort_link @q, :asset_registration_number, "Registration" %></td>
        <td class="col-md-1"><%= sort_link @q, :renter_id, "Renter" %></td>
        <td class="col-md-5"><%= sort_link @q, :renter_surname, "Renter Name" %></td>
        <td class="col-md-1">Actions</td>
      </tr>
    </thead>
    <tbody>
      <% @contracts.each do |contract| %>
        <tr>
          <td class="col-md-1"><%= contract.id %></td>
          <td class="col-md-1"><%= contract.asset_id %></td>
          <td class="col-md-2"><%= contract.asset.registration_number %></td>
          <td class="col-md-1"><%= contract.renter_id %></td>
          <td class="col-md-5"><%= contract.renter.name + ' ' + contract.renter.surname %></td>
          <td class="col-md-1"><%= link_to 'Edit', edit_contract_path(contract) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>