<div id="content">
  <%= link_to 'Add Asset', new_asset_path, class: "button" %>
  <h1>MANAGE ASSETS</h1>
  <hr class="push_both" />
  <%= search_form_for @q do |f| %>
    <%= f.label :id_eq, "ID"%><%= f.search_field :id_eq %>
    <%= f.label :registration_number_cont, "Registration Number"%><%= f.search_field :registration_number_cont %>
    <%= f.submit "Search" %>
  <% end %>
  <table>
    <thead>
      <tr>
        <th class="col-md-1"><%= sort_link @q, :id, "ID" %></th>
        <th class="col-md-2"><%= sort_link @q, :make, "Make/Model" %></th>
        <th class="col-md-2"><%= sort_link @q, :registration_number, "Registration" %></th>
        <th class="col-md-4"><%= sort_link @q, :owner_name, "Owner" %></th>
        <th class="col-md-1">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @assets.each do |asset| %>
        <tr>
          <td class="col-md-1"><%= asset.id %></td>
          <td class="col-md-2"><%= asset.make + " " + asset.model %></td>
          <td class="col-md-2"><%= asset.registration_number %></td>
          <td class="col-md-4"><%= asset.owner.id.to_s + " " + asset.owner.name %></td>
          <td class="col-md-1"><%= link_to 'Edit', edit_asset_path(asset) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>