<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <%= link_to "REVVED", root_path, id: "logo" %>
    </div>
    
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "OWNERS", owners_path %></li>
        <li><%= link_to "ASSETS", assets_path %></li>
        <li><%= link_to "RENTERS", renters_path %></li>
        <li><%= link_to "CONTRACTS", contracts_path %></li>
        <li><%= link_to "READINGS", odometers_path %></li>
        <li><%= link_to "INVOICES", invoices_path %></li>
        <% if user_signed_in? %>
            <li><%= link_to 'Edit profile', edit_user_registration_path %> </li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete  %> </li>
        <% else %>
            <li><%= link_to "Sign up", new_user_registration_path %> </li> |
            <li><%= link_to "Login", new_user_session_path %> </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>